<!DOCTYPE html>
<html>

<head>
    <title>Model Gen</title>
</head>

<body>
    <h1>Prototype Model Generator</h1>
    <p>To make field optional, type "?" at the end of property name e.g. exampleProperty?</p>
    <form name='modelForm' method='POST' action='/gen' autocomplete='off'>
        <table id='formTable'>
            <tr>
                <td>Model:</td>
                <td><input type='text' name='modelName' placeholder="ModelName"></td>
            </tr>
            <tr>
                <td>Property:</td>
                <td>
                    <button onclick="addProperty()" type="button">Add</button>
                    <button onclick="removeLast()" type="button">Remove Last</button>
                    <input type='submit' value='Generate'>
                </td>
            </tr>
        </table>
    </form>
</body>
<script>
    let propertyCounter = 0;
    function addProperty() {
        const row = document.getElementById('formTable').insertRow(-1);
        const title = document.createElement('td');
        title.appendChild(document.createTextNode(`Property [${propertyCounter + 1}]`));
        const field = document.createElement('td');
        const input = document.createElement('input');
        input.placeholder = `propertyName${propertyCounter + 1}`;
        input.name = `property${propertyCounter + 1}`;
        field.appendChild(input);
        row.id = `row${propertyCounter}`;
        row.appendChild(title);
        row.appendChild(field);
        propertyCounter++;
    }
    function removeLast() {
        if (propertyCounter > 0) {
            propertyCounter--;
            document.getElementById(`row${propertyCounter}`).remove();
        }
    }
</script>

</html>